#game-grid {
  min-height: 100px;
  margin-top: 20px;
}

.card-container {
  height: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}